/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* course-connect\src\assets\main.css */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  color: #000;
  width: 100%;
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
}
